<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://hot.haima.me/ee/201610/02/5352513598e340f59e45d24c66efed36.ipa</string>
               </dict>
               
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>enjoy.iapps4you.gba4ios</string>
               <key>bundle-version</key>
               <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>title</key>
               <string>GBA4iOS by @jakeashacks</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
