<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://appfreeze.altervista.org/app/happychick.ipa/</string>
				</dict>
			<dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://40.media.tumblr.com/759f8ed482bbcfdfb0f9648a72560d69/tumblr_o47edruGGi1qzhxrto1_1280.png</string>
               </dict>
</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xiaoji.gamecenter</string>
				<key>bundle-version</key>
				<string>201607041440W</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Happy Chick by @jakeashacks</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
 
