<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://dl.le890.com/infinite/201609/28/ebf0c3bcd13c4302a652d4561d3b5bdd.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>https://apprecs.org/ios/images/app-icons/256/a8/556164008.jpg</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.appfreeze.realracing</string>
               <key>bundle-version</key>
               <string>0.33.1</string>
               <key>kind</key>
               <string>software</string>
               <key>title</key>
               <string>Real Racing 3 Hacked by @jakeashacks</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
