<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://dl.le890.com/infinite/201609/30/786ffac746514250a11d9fc1896100bb.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://a3.mzstatic.com/us/r30/Purple6/v4/de/fd/83/defd8367-3fe9-66a9-2ac1-7e5202da0893/icon114x114.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>enjoy.appfreeze.flappy</string>
               <key>bundle-version</key>
               <string>0.33.1</string>
               <key>kind</key>
               <string>software</string>
               <key>title</key>
               <string>Smashy Road Hacked by @jakeashacks</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
